* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #222222;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  min-width: 100%;
}

.superinfo-bg {
  background: #122ab2;
  color: #fff;
}
.superinfo-bg a {
  color: #fff;
}
.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}
.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
}

.menu-bg {
  background: #2c70ff;
}
.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menu a {
  color: #fff;
}
.menu-logo a {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  font-size: 1.25rem;
  display: block;
  padding: 10px;
}
.menu-nav a:hover {
  color: #122ab2;
}

/* INTRODUCAO */
.introducao {
  font-size: 3rem;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
}
.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}
.sobre-info h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.sobre-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #7c7c7c;
}
.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}